
    				a{
    					color: #30d5c8;
    				}
    				.mobile-navigation{
    					border-color:#30d5c8;
    				}
    				.mobile-navigation:hover, .mobile-navigation:focus{
    					color: #30d5c8;
    				}
    				.ts-bt{
    					background: #30d5c8;
    					border-color:#30d5c8;
    				}
    				.ts-bt:hover, .ts-bt:focus{
    					color: #30d5c8;
    				}
    				.breadcrumbs a:hover{
    					color: #30d5c8;
    				}
    				.ts-style-button:hover{
    					background: #30d5c8;
    				}
    				.top-header ul li a:hover, .top-header ul li a:hover .fa{
    					color: #30d5c8;
    				}
    				.main-menu ul > li .dropdown-menu li a:hover,
    				.main-menu ul > li .dropdown-menu li.active a,
    				.main-menu ul > li .dropdown-menu li a:focus{
    					color: #30d5c8;
    				}
    				.main-menu ul > li .dropdown-menu > li.menu-item-has-children > a:hover:after{
    				  color: #30d5c8;
    				}
    				.ts-service-style-1 .service-icon:after{
    					box-shadow: 0 0 0 4px #30d5c8;
    					-moz-box-shadow: 0 0 0 4px #30d5c8;
    					-webkit-box-shadow: 0 0 0 4px #30d5c8;
    				}
    				.ts-service-style-1:hover .service-icon{
    					background: #30d5c8;
    				}
    				.ts-service-style-1 .read-more{
    					color: #30d5c8;
    				}
    				.ts-search-domain input[type="submit"],
    				.ts-search-domain input[type="submit"]:hover,
    				.ts-search-domain input[type="submit"]:focus{
    					background-color: #30d5c8;
    				}
    				.ts-search-domain .sm_links a:hover{
    					color: #30d5c8;
    				}
    				.ts-pricing-table-style1 a.cta_pricing:hover,
    				.ts-pricing-table-style1 a.cta_pricing:focus{
    					background: #30d5c8;
    				}
    				.ts-pricing-table-style1.active{
    					background: #30d5c8;
    				}
    				.ts-pricing-table-style1.active .price-unit{
    					background: #30d5c8;
    				}
    				.ts-pricing-table-style1.active a.cta_pricing:hover,
    				.ts-pricing-table-style1.active a.cta_pricing:focus{
    					color: #30d5c8;
    				}
    				.ts-testimonial-style1 .client-quote .fa{
    					color: #30d5c8;
    				}
    				.ts-testimonial-style1 .client-website a{
    					color: #30d5c8;
    				}
    				.owl-theme .owl-controls .owl-page.active{
    					border-color: #30d5c8;
    				}
    				.owl-theme .owl-controls .owl-page.active span, 
    				.owl-theme .owl-controls.clickable .owl-page:hover span {
    				  background: #30d5c8;
    				}
    				.ts-acordion h3 .fa{
    					color: #30d5c8;
    				}
    				.ts-acordion.ui-accordion .ui-accordion-header .ui-accordion-header-icon{
    					color: #30d5c8;
    				}
    				.ts-acordion .ui-accordion-header:before{
    					color: #30d5c8;
    				}
    				.ts-acordion.ts-acordion-style2 .ui-accordion-header.ui-state-active{
    					color: #30d5c8;
    				}
    				.ts-acordion.ts-acordion-style2.ui-accordion .ui-accordion-header.ui-state-active .ui-accordion-header-icon{
    					color: #30d5c8;
    				}
    				.ts-domain-price-box .domain-price{
    					color: #30d5c8;
    				}
    				.ts-service-style-2:hover .icon-service{
    					color: #30d5c8;
    				}
    				.ts-service-style-2:hover h3{
    					color: #30d5c8;
    				}
    				.ts-pricing-table-style2 a.cta_pricing:hover{
    					background: #30d5c8;
    				}
    				.ts-pricing-table-style2.active{
    					background: #30d5c8;
    				}
    				.ts-pricing-table-style2.active a.cta_pricing:hover{
    					color: #30d5c8;
    				}
    				.ts-testimonial-style2 .client-website a {
    				  color: #30d5c8;
    				}
    				.ts-testimonial-style2.dark .client-website a:hover{color: #30d5c8;}
    				.ts-feature-item-style2 .icon-feature{
    					color: #30d5c8;
    				}
    				.ts-feature-item-2 .feature-icon{
    					background: #30d5c8;
    				}
    				.ts-item-post .ts-main-recent-post a:hover h4{
    					color:#30d5c8;
    				}
    				.ts-item-post h4 a:hover{
    					color: #30d5c8
    				}
    				.ts-item-post .ts-item-post-footer i{
    					color: #30d5c8;
    				}
    				.ts-item-post .ts-item-post-footer a:hover{
    					color: #30d5c8;
    				}
    				.ts-section-top-footer{
    					background: #30d5c8;
    				}
    				.contact-info:hover span{
    					border-color: #30d5c8;
    				}
    				.contact-info:hover span i{
    					color: #30d5c8;
    				}
    				.ts-company-info a:hover{
    					color: #30d5c8;
    				}
    				.ts-support ul li a:hover{
    					color: #30d5c8;
    				}
    				.ts-support ul li i{
    					color: #30d5c8;
    				}
    				.ts-control-pane ul li a:hover{
    					color: #30d5c8;
    				}
    				.ts-control-pane ul li i{
    					color: #30d5c8;
    				}
    				.ts-form-subscribe .subcribe-btn{
    					background: #30d5c8;
    				}
    				.ts-social-footer a:hover span{
    					background: #30d5c8;
    				}
    				.ts-menu-footer ul li a:hover{
    					color: #30d5c8;
    				}
    				.ts-service-style3 a:hover h4{
    					color: #30d5c8;
    				}
    				.ts-special-offer .ts-special-offer-content ul li:before{
    					color: #30d5c8;
    				}
    				.ts-special-offer .ts-special-offer-content ul a:hover{
    					color: #30d5c8;
    				}
    				.ts-hosting-price span.ts-special-offer-price{
    					color:#30d5c8;
    				}
    				.ts-special-offer-content .ts-offer-right a{
    					background: #30d5c8;
    				}
    				.ts-number-statistic i{
    					color: #30d5c8;
    				}
    				.ts-number-statistic a:hover{
    					color: #30d5c8;
    				}
    				.ts-number-statistic a:hover h3{
    					color: #30d5c8;
    				}
    				.widget-list-posts i{
    					color: #30d5c8;
    				}
    				.widget-list-posts a:hover{
    					color: #30d5c8;
    				}
    				.ts-list-popular-topics li .red-text{
    					color:#30d5c8;
    				}
    				footer .widget ul li a:before{
    					color: #30d5c8;
    				}
    				.ts-big-caption span, .ts-big-caption-center span{
    					color: #30d5c8;
    				}
    				.ts-caption-small-center{
    					color: #30d5c8!important;
    				}
    				.ts-caption-small .fa{
    					background: #30d5c8;
    				}
    				.ts-caption-small-right .fa{
    					background: #30d5c8;
    				}
    				.ts-price-rev span, .ts-price-rev-right span{
    					color: #30d5c8;}
    				.ts-button-slide-2{
    					background: #30d5c8!important;
    					border-color: #30d5c8!important;
    				}
    				.ts-button-slide:hover{
    					background: #30d5c8!important;
    					border-color: #30d5c8!important;
    				}
    				.ts-button-slide-2:hover a,
    				.ts-button-slide-2 a:hover{
    					color: #30d5c8;
    				}
    				.ts-number{
    					color: #30d5c8;
    				}
    				.tp-leftarrow.default:hover, .tp-rightarrow.default:hover{
    					color: #30d5c8;
    				}
    				.ts-whmcs li .item-right strong a:hover{
    					color: #30d5c8;
    				}
    				.date-post span.month{
    					background: #30d5c8;
    				}
    				.blog-item h3 a:hover{
    					color: #30d5c8;
    				}
    				.blog-meta li a:hover{
    					color: #30d5c8;
    				}
    				.blog-meta li .fa{
    					color: #30d5c8;
    				}
    				.ts-button:hover, input[type="submit"]:hover, .more-link:hover, button:hover{
    					background:  #30d5c8;
    					border-color: #30d5c8;
    				}
    				.blog-item .group-share a:hover, .group-share a:hover {
    					color: #30d5c8;
    				}
    				.pagination > .active > a, 
    				.pagination > .active > span, 
    				.pagination > .active > a:hover, 
    				.pagination > .active > span:hover, 
    				.pagination > .active > a:focus, 
    				.pagination > .active > span:focus,
    				.pagination > li > a:hover,
    				.pagination > li > a:focus,
    				.page-links a:hover {
    					background-color: #30d5c8;
    				    border-color: #30d5c8;
    				}
    				.page-links > span{
    					background-color: #30d5c8;
    				  	border-color:#30d5c8;
    				}
    				.blog-quote{
    					border-color: #30d5c8;
    				}
    				.blog-link:before{
    					color: #30d5c8;
    				}
    				.owl-theme .owl-controls .owl-buttons div:hover, .owl-theme .owl-controls .owl-buttons div:focus {
    				  background: #30d5c8;
    				 }
    				 blockquote{
    					border-color:#30d5c8;
    				}
    				#searchform button[type="submit"]:hover{
    					background: #30d5c8;
    				}
    				.widget ul li a:before, .widget_recent_comments li.recentcomments:before {
    					color: #30d5c8;
    				}
    				.widget ul li a:hover{
    					color: #30d5c8;
    				}
    				.domainchecker  button[type="submit"]:hover{
    					background: #30d5c8!important;
    				}
    				.widget_tag_cloud .tagcloud a:hover{
    					background: #30d5c8;
    				}
    				.comment-item .comment-reply-link:hover{
    					color: #30d5c8;
    				}
    				.ts-service-style-3 .icon-service{
    					color: #30d5c8;
    				}
    				.ts-service-style-4:hover .icon-service{
    					background: #30d5c8;
    					border-color: #30d5c8;
    				}
    				.ts-service-style-5 .icon-service{
    					background: #30d5c8;
    				}
    				.team-item-style2 .social-network a:hover{
    					background: #30d5c8;
    				}
    				.team-item .social-network-team  li a:hover{
    					color: #30d5c8;
    				}
    				.ts-list-ul ul li:before{
    					color: #30d5c8;
    				}
    				.countdownstyle1 .ts-date-countdown.ts-day-count{
    					background: #30d5c8
    				}
    				.countdownstyle2 .ts-date-countdown.ts-day-count{
    					color: #30d5c8;
    				}
    				#wp-calendar a:hover{
    				    color: #30d5c8;
    				}
    				.ts-showmore:hover{
    					background: #30d5c8;
    				}
    				.quote-type-style2:before{
    					color: #30d5c8;
    				}
    				.ts-list-style ul li a:hover{
    					color: #30d5c8;
    				}
    				.ts-list-style.underlist li a{
    					color: #30d5c8;
    				}
    				#filters-portfolio .cbp-filter-item.cbp-filter-item-active,
    				#filters-portfolio .cbp-filter-item:hover{
    					background-color: #30d5c8;
    				}
    				.ts-contact-infomation a:hover{
    					color: #30d5c8;
    				}
    				.ts-menu-sidebar > ul > li.menu-item-has-children.current_page_item > a,
    				.ts-menu-sidebar > ul > li.menu-item-has-children.current_page_item > a:hover,
    				.ts-menu-sidebar > ul > li.menu-item-has-children.current-menu-parent > a,
    				.ts-menu-sidebar > ul > li.menu-item-has-children.current-menu-parent > a:hover,
    				.ts-menu-sidebar > ul > li.current_page_item > a,
    				.ts-menu-sidebar > ul > li.current_page_item > a:hover{
    					background: #30d5c8;
    				}
    				.ts-menu-sidebar > ul > li.menu-item-has-children.current_page_item > a:after,
    				.ts-menu-sidebar > ul > li.menu-item-has-children.current-menu-parent > a:after,
    				.ts-menu-sidebar > ul > li.current_page_item > a:after{
    					border-left: 6px solid #30d5c8;
    				}
    				.ts-menu-sidebar li .sub-menu a:hover,
    				.ts-menu-sidebar li .sub-menu li.current_page_item a{
    					color: #30d5c8;
    				}
    				.contact-info span{background:#30d5c8; }
    				/* WOOCOMERCE */
    				.woocommerce nav.woocommerce-pagination ul li a:hover, 
    				.woocommerce nav.woocommerce-pagination ul li span.current, 
    				.woocommerce #content nav.woocommerce-pagination ul li a:hover, 
    				.woocommerce #content nav.woocommerce-pagination ul li span.current, 
    				.woocommerce-page nav.woocommerce-pagination ul li a:hover, 
    				.woocommerce-page nav.woocommerce-pagination ul li span.current, 
    				.woocommerce-page #content nav.woocommerce-pagination ul li a:hover, 
    				.woocommerce-page #content nav.woocommerce-pagination ul li span.current{
    				    background: #30d5c8!important;
    				    border-color: #30d5c8!important;
    				}
    				.woocommerce .star-rating span, .woocommerce-page .star-rating span {
    				    color: #30d5c8!important;
    				}
    				.woocommerce table.cart a.remove:hover, .woocommerce #content table.cart a.remove:hover, .woocommerce-page table.cart a.remove:hover, .woocommerce-page #content table.cart a.remove:hover {
    				    color: #30d5c8!important;
    				}
    				.woocommerce .addresses .title .edit:hover, .woocommerce-page .addresses .title .edit:hover{
    				    background: #30d5c8!important;
    				}
    				.price_slider_amount .price_label span{
    				    color: #30d5c8!important;
    				}
    				.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, 
    				.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle{
    				    background: #30d5c8!important;
    				}
    				.chosen-container-single .chosen-single span:after {
    				    color: #30d5c8!important;
    				}
    				.widget_price_filter .ui-slider-horizontal {
    				    background: #30d5c8!important;
    				}
    				.widget_price_filter .price_slider_amount .button:hover{
    				    background: #30d5c8!important;
    				}
    				.product-categories li a:before {
    				    color: #30d5c8!important;
    				}
    				.product-categories li a:hover {
    				    color: #30d5c8!important;
    				}
    				.woocommerce  a.button.product_type_simple:hover,
    				.woocommerce  a.button.product_type_variable:hover,
    				.woocommerce  a.button.add_to_cart_button:hover,
    				.woocommerce  a.button.product_type_simple.added:hover,
    				.woocommerce  a.button.product_type_simple:hover{
    				    background: #30d5c8!important;
    				    color: #30d5c8!important;
    				}
    				#commentform .stars > span a:hover:before, #commentform .stars > span a.active:before {
    				  color: #30d5c8!important;
    				}
    				.woocommerce .comment-form input[type="submit"]:hover{
    				    background: #30d5c8!important;
    				}
    				.shipping_calculator h2 a:hover{
    				    color: #30d5c8!important;
    				}
    				.added_to_cart.wc-forward:hover{
    				    background: #30d5c8!important;
    				}
    				.woocommerce-message .button:hover{
    				    background: #30d5c8!important;
    				}
    				li.mini-shoping-cart-wraper .buttons a:hover{
    				    background: #30d5c8!important;
    				}
    				.toggle-bar-btn {
    					border-color: #30d5c8 #30d5c8 transparent transparent;
    				}
    				.widget_mc4wp_widget input[type="submit"]{
    					background: #30d5c8
    				}
    				.ts-suport-header .header-suport  .header-phone{
    					color: #30d5c8;
    				}
    				.ts-suport-header .header-signup-chat li.header-chat span.icon{
    					background: #30d5c8;
    				}
    				.main-header-style2 .main-menu > ul > li > a:hover,
    				.main-header-style2 .main-menu > ul > li:hover > a{
    					background: none;
    					color: #30d5c8;
    				}
    				.ts-special-offer-style2  .ts-special2 a{
    					background: #30d5c8;
    				}
    				.ts-special-offer-style2  .ts-special2 a:hover{
    					color: #30d5c8;
    				}
    				.ts-mediumcaption-3 span{
    					color: #30d5c8;
    				}
    				.ts-listcaption1-3:before{
    					color: #30d5c8;
    				}
    				.ts-listcaption1-3 span{
    					color: #30d5c8;
    				}
    				.ts-button-s3{
    					background: #30d5c8!important;
    				}
    				.tp-caption.ts-button-s3:hover a, .tp-caption.ts-button-s3 a:hover{color: #30d5c8;}
    				.ts-button-s3:hover{
    					color: #30d5c8;
    				}
    				.ts-small-caption-3 span{
    					color: #30d5c8;
    				}
    				.tp-caption.ts-bg-3, .ts-bg-3{
    					background: rgba(48,213, 200, 0.5)!important;
    				}
    				.ts-service-img .service-content a.cta_pricing{
    				    background: #30d5c8;
    				    border-color:#30d5c8;
    				}
    				.ts-service-img .service-content a.cta_pricing:hover{
    				    color: #30d5c8;
    				}
    				.ts-pricing-table-style3 .price-icon .pricing-icon{
    				    background: #30d5c8;
    				}
    				.ts-pricing-table-style3 .price-unit .price-unit{
    				    color: #30d5c8;
    				}
    				.ts-pricing-table-style3.active .price-unit{
    				    background: #30d5c8;
    				}
    				.ts-pricing-table-style3 p a.cta_pricing:hover,.ts-pricing-table-style3.active a.cta_pricing{
    				    background: #30d5c8;
    				    border-color:#30d5c8;
    				}
    				.ts-pricing-table-style3.active a.cta_pricing:hover{
    				    color: #30d5c8;
    				}
    				li.mini-shoping-cart-wraper a:hover span,
    				li.mini-shoping-cart-wraper:hover a span{
    					border-color: #30d5c8;
    				}
    				.ts-pricingtable-5 .price-icon{
    					background: #30d5c8;
    				}
    				.ts-pricingtable-5 .price-unit{
    					color: #30d5c8;
    				}
    				.ts-pricingtable-5 .ts-bt-pricing{
    					background: #30d5c8; 
    					border-color: #30d5c8;
    				}
    				.ts-pricingtable-5 .ts-bt-pricing:hover{
    					color: #30d5c8;
    				}
    				.ts-pricingtable-5 table td .inner-td.ts-icon-check, .ts-icon-check{
    					color: #30d5c8;
    				}
    				.ts-search-whois #domain .l1 input[type="submit"]{
    					background-color: #30d5c8;
    				}
    				.ts-pricing-table-style3.ts-whmpress button:hover{
    					border-color: #30d5c8;
    				}
    				.ts-pricing-table-style3.active.ts-whmpress button{
    					background: #30d5c8;
    					border-color: #30d5c8;
    				}
    				.ts-pricing-table-style3.active.ts-whmpress button:hover{
    					color: #30d5c8;
    				}
    				.ts-service-img.ts-whmpress .service-content button {
    				  background: #30d5c8;
    				  border-color: #30d5c8;
    				}
    				.ts-service-img.ts-whmpress .service-content button:hover {
    				  color: #30d5c8;
    				}
    				.ts-pricing-table-style2.ts-whmpress.active button:hover {
    				  color: #30d5c8;
    				}
    				.ts-pricing-table-style2.ts-whmpress button:hover {
    				  background: #30d5c8;
    				}
    				.ts-pricing-table-style1.ts-whmpress button:hover, 
    				.ts-pricing-table-style1.ts-whmpress button:focus {
    				  background: #30d5c8;
    				}
    				.ts-pricing-table-style1.ts-whmpress.active button:hover{
    					color: #30d5c8;
    				}
                    span.page-numbers.current {
                      background-color: #30d5c8;
                      border-color: #30d5c8;
                      color: white;
                    }
    	    	.main-header-style2 ul li a:hover, .main-menu ul li .active,
.main-header-style2 ul li:hover a,
    .main-menu ul li a.active a{
background: #42454a;
color: white;
}
#undefined-sticky-wrapper, .main-header {
    background-color:#fff !important;
}

.main-menu .navbar-form {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
}